# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
.venv/
env/
venv/
*.env
*.egg-info/

# ===============================
# PlatformIO / Arduino
# ===============================
.pio/
.build/
*.elf
*.bin
*.hex
*.map
lib/
.vscode/

# ===============================
# .NET / C#
# ===============================
bin/
obj/
*.user
*.suo
*.vs/
*.exe
*.dll
*.pdb
*.cache
*.log
*.nuget/
*.nupkg
project.lock.json
*.runtimeconfig.json
*.deps.json

# ===============================
# OS / Editor junk
# ===============================
.DS_Store
Thumbs.db
*.swp
*.bak
*.tmp
*.~*
*.orig

# ===============================
# Logs / temp
# ===============================
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
